$color1: rgb(236, 236, 233);
$color2: rgb(228, 230, 219);
$color3: rgb(195, 206, 180);
$color4: rgb(145, 168, 140);
$color5: rgb(79, 100, 79);
$color6: rgb(41, 53, 42);

.header {
    background-color: $color4;
    padding: 0 30px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
}

.header-link {
    list-style-type: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $color3;
    }
}

.header-right {
    display: flex;
    align-items: center;
    > img:last-child {
      height: 24px;
    }
}

.header-left {
    display: flex;
}

.social-link {
  height: 20px;
  padding: 0 10px;
  cursor: pointer;
  display: block;
}

.active {
  background-color: $color3;
}

.userDropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.userDropdown:hover .userDropdownContent {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-top: 120px;
}
