.cardContainer {
    background-color: rgba(255,253,208, 0.4);
    padding: 20px;
    padding-left: 35px;
    border-radius: 15px;
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.cardText {
    width: 60%;
    align-self: center;
    text-align: justify;
}

.cardImage {
  width: 40%;
  padding-left: 20px;

  > img {
    width: 100%;
  }
}
