$hoverColor: #66BB6A;

.button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-family:'Nunito',sans-serif;
  font-weight: bold;
  color: #494949;
  font-size: 14px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #494949;
  transition: all 0.4s ease 0s;
  border-radius: 20px;

  &:hover {
    color: #ffffff;
    background: $hoverColor;
    border-color: #66BB6A;
    transition: all 0.3s ease;
  }
}
