$color4: rgb(145, 168, 140);
$color3: rgb(195, 206, 180);

.button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-family:'Nunito',sans-serif;
  font-weight: bold;
  color: black;
  font-size: 14px;
  text-align: center;
  padding: 12px 20px;
  background: $color4;
  transition: all 0.4s ease 0s;
  border-radius: 50px;

  &:hover {
    background: $color3;
    transition: all 0.2s ease;
  }
}
