.keyPointsButton {
  text-align: center;  
  padding-bottom: 40px;
}

.homeImpact {
    text-align: center;
    height: 250px;
    border-radius: 15px;
    background-color: #EDF5E1;
    height: 300px;
    margin: 30px;
}

.homeImpactTitle {
    padding-top: 50px;
    padding-bottom: 50px;
}

.homeImpactStatNumber {
    font-size: 50px;
}

.homeImpactStats {
    display: flex;
    justify-content: center;
}

.homeImpactStat {
    padding: 10px;
}
