@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lora');
body {
    background-color: rgba(122, 132, 80, 1);
    margin: 0;
}
h1, h2, p, ul, li, a {
    font-family: 'Nunito', bold;
}

* {
  margin: 0;
  padding: 0;
}

.title {
    font-family: 'Lora', regular;
    color: var(--dos);
}

p {
    font-family: 'Lora', bold;
    font-size: 14px;
}
.containerRowFlexRightText {
    padding: 20px;
    display: flex;
}
.containerRowFlexRightText > div:first-child {
    width: 30%;
}
.rowFlexElementRightText {
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px;
    margin-left: 10px;
}
.containerRowFlexLeftText {
    padding: 20px;
    display: flex;
}
.containerRowFlexLeftText > div:first-child {
    width: 70%;
}
.rowFlexElementLeftText {
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px;
    margin-right: 10px;
}
.rowFlexElement {
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px;
}
.containerRow {
    background-color: rgba(255,253,208, 0.4);
    padding: 20px;
    padding-left: 35px;
    border-radius: 15px;
    display: flex;
    width: 80%;
    margin: 20px auto;
}
.containerRowCards {
    display: flex;
    justify-content: center;
    background: url('images/forest-1.jpg') center/cover;
    width: 100%;
    height: calc(100vh - 60px);
    align-items: center;
}
.containerRowElement {
    width: 66%;
    align-self: center;
}
.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px 20px;
    margin: 0 15px;
    font-size: 10px;
    text-align: center;
    width: 30%;
    height: auto;
    max-width: 290px;
}
.cardListItem {
    display: flex;
    padding: 12px;
    font-family: 'Lora', bold;
    align-items: center;
    margin-left: 30px;
}
.cardListItemAmount {
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Lora', bold;
    font-size: 15px;
}
.cardListItemText {
    font-family: 'Lora', bold;
    font-size: 15px;
}
.cardTitle {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
