@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lora');
body {
  background-color: rgba(122, 132, 80, 1);
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: 'Nunito', bold;
}
.title {
	font-family: 'Lora', regular;
	color: var(--dos);
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: rgba(27, 48, 34, 1);
  padding: 0;
  margin: 0;
  padding-left: 30px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.containerRowFlexRightText {
  padding: 20px;
  display: flex;
}
.containerRowFlexRightText > div:first-child {
  width: 30%;
 }
.rowFlexElementRightText {
  background-color: #FFF;
  border-radius: 15px;
  padding: 20px;
  margin-left: 10px;
}
.containerRowFlexLeftText {
  padding: 20px;
  display: flex;
}
.containerRowFlexLeftText > div:first-child {
	width: 70%;
 }
.rowFlexElementLeftText {
  background-color: #FFF;
  border-radius: 15px;
  padding: 20px;
  margin-right: 10px;
}
.rowFlexElement {
  background-color: #FFF;
  border-radius: 15px;
  padding: 20px;
}
.containerRow {
  background-color: #FFF;
  padding: 20px;
  padding-left: 35px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
}
.containerRowCards {
  padding: 20px;
  padding-left: 35px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
}
.rowCard {
  background-color: #FFF;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  font-family: 'Nunito', bold;
  font-size: 10px;
  text-align: center;
}
.container-row h2 {
  padding: 0;
  margin: 0;
}
.container-row li {
  margin-bottom: 10px;
}
.active {
  background-color: rgba(82, 70, 50, 1);
}

:root {
	--one: rgba(27, 48, 34, 1);
	--dos: rgba(82, 70, 50, 1);
}

.image {
	display: block;
	margin: auto;
}
