.sell {
    background: white;
}

.sellHeader {
    text-align: center;
    padding: 5% 0;

    >p {
        margin: 15px;
    }
}

.sellSteps {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sellStep {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    margin-bottom: 50px;

    >img {
        margin: 10px;
    }

    >p {
        max-width: 40%;
        margin: auto;
   }
}
