.footer-social {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer-main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-main-element {
    margin: 0 20px;
}

.footer-end {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer-small {
    font-size: 10px;
}
