$color3: rgb(195, 206, 180);
$color4: rgb(145, 168, 140);

.footer {
    background-color: $color3;
    margin-top: 70px;
}

.footer-social {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.footer-main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-main-element {
    margin: 0 20px;
}

.footer-end {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-small {
    font-size: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
