.productContainer {
    // background-color: rgba(255,253,208, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.productText {
    width: 60%;
    align-self: center;
    text-align: center;
}

.productIcon {
  width: 40%;
  align-self: center;
  text-align: center;

  > img {
    width: 50%;
  }
}

.productPrice {
    font-weight: bold;
}
